.App {
    text-align: center;
}

body {
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg")
}

#card1 {
    margin-top: 10%;
    padding: 3%;
}

.form-control {
    width: 50vw;
    margin-top: 3%;
}

button {
    width: 15vw;
    margin-top: 3%;
}

.information {
  margin-top: 5%;
}

span {
  font-weight: bold;
  font-size: 22pt;
  color: rgb(59, 59, 59);
  margin-right: 1%;
}

h1 {
  font-size: 20pt;
}